venv/
.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
logs/*
!logs/.gitkeep
.ruff_cache/
models/*.joblib
.ipynb_checkpoints/
